
@{
    ViewData["Title"] = "Index";
}
<div class="col-md-3 widget widget1">
    <div class="r3_counter_box">
        <i class="pull-left fa fa-flag icon-rounded"></i>
        <div class="stats">
            <h5><strong>1</strong></h5>
            <span>Total Country</span>
        </div>
    </div>
</div>
<div class="col-md-3 widget widget1">
    <div class="r3_counter_box">
        <i class="pull-left fa fa-building-o user1 icon-rounded"></i>
        <div class="stats">
            <h5><strong>1019</strong></h5>
            <span>Total City</span>
        </div>
    </div>
</div>
<div class="col-md-3 widget widget1">
    <div class="r3_counter_box">
        <i class="pull-left fa fa-product-hunt user2 icon-rounded"></i>
        <div class="stats">
            <h5><strong>1012</strong></h5>
            <span>Total Product</span>
        </div>
    </div>
</div>
<div class="col-md-3 widget widget1">
    <div class="r3_counter_box">
        <i class="pull-left fa fa-bar-chart-o dollar1 icon-rounded"></i>
        <div class="stats">
            <h5><strong>450</strong></h5>
            <span>Total Orders</span>
        </div>
    </div>
</div>
<div class="col-md-3 widget">
    <div class="r3_counter_box">
        <i class="pull-left fa fa-users dollar2 icon-rounded"></i>
        <div class="stats">
            <h5><strong>1450</strong></h5>
            <span>Total Users</span>
        </div>
    </div>
</div>




<!-- for amcharts js -->
<script src="js/amcharts.js"></script>
<script src="js/serial.js"></script>
<script src="js/export.min.js"></script>
<link rel="stylesheet" href="css/export.css" type="text/css" media="all" />
<script src="js/light.js"></script>
<!-- for amcharts js -->
<script src="js/index1.js"></script>
